@using Microsoft.Ajax.Utilities
@model Vidly.Models.Customer


<h1>@Html.DisplayFor(x => x.Name)</h1>
<ul>
    <li>
      MemberShip Type :  @Model.MembershipType.Name
    </li>
    @if (Model.BirthDate != null)
    {
        <li>
          Birth Date :  @Html.DisplayFor(x => x.BirthDate)
        </li>
    }


</ul>